@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@300;500&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body,
html {
    /* width: 1440px;
    height: 3306px; */
    margin: 0 auto;
    background: #FFF;
    scroll-behavior: smooth;
}


header {
    margin: 85px 120px;
    color: #3A3A3A;

}

/* nav section  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 243px;
    height: 52px;
}

ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
}

li a {
    color: #3A3A3A;
    text-decoration: none;
}

/* header banner style  */
.banner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 133px;
    margin-top: 80px;
}

.banner-img {
    background-image: url(images/main-camera.png), url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
    flex-shrink: 0;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
}

.b-btn {
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    border: 0;
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
}

.b-btn span {
    margin-left: 8px;
}

main {
    margin: 112px 165px;
}

/* brand logu styles  */
.brand-logu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-logu img {
    width: 84px;
    height: 25px;
}

/* popular-collection styles  */
.p-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #3A3A3A;
    margin-top: 100px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.card {
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
    padding: 17px;
    color: #3A3A3A;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
}

.c-title {
    font-size: 17px;
    font-weight: 600;
}

.c-price {
    font-size: 15px;
    font-weight: 500;
}

.card-rating i {
    font-size: 16px;
    color: #FB8200;
}

div span {
    font-size: 16px;
    margin-left: 10px;
}

.card-description {
    font-size: 15px;
    font-weight: 500;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    float: right;
    color: #E02C6DDE;
}


.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-top: 174px;
}

.featured img {
    width: 404px;
    height: 270px;
}

.featured-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}

.featured-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 16px;
    margin-bottom: 16px;
}

.featured-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    ;
    gap: 8px;
    width: 155px;
    height: 44px;
    border: 0;
    background: #E02C6D;
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 239px;
    background: #0A0826;
}

.footer-title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.copyright {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #D9DBE1;
    text-align: center;
}

.sub-title {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: #D9DBE1;
}

.social-icon i {
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    margin: 10px 14px;
}

.hide {
    display: none;
}

/* media-query small scrieen  */
@media only screen and (max-width: 576px) {

    .body,
    html {
        width: none;
        height: none;
    }

    /* header styles  */
    header {
        margin: 0;
        color: #3A3A3A;
        padding: 0px 20px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-img {
        width: 447px;
        height: 447px;

    }

    .banner-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin: 0 18px;
    }

    .banner-description {
        font-size: 16px;
        font-weight: 600;
        margin: 0 18px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .b-btn {
        width: 196px;
        height: 44px;
        padding: 10px 24px;
        margin: 0px 83px;
        font-size: 16px;
        border: 0;
        border-radius: 41px;
        background: #E02C6D;
        color: #fff;
    }

    main {
        margin: 0px;
        margin-top: 60px;
        padding: 20px;
    }

    /* brand-logu styles  */
    .brand-logu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 31px;
        grid-row-gap: 22px;
    }

    /* popular-cllection styles */
    .p-title {
        font-size: 16px;
        font-weight: 600;

    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* featured section styles  */
    .featured {
        flex-direction: column-reverse;
    }

    .featured-title {
        font-size: 24px;
    }

    .featured-description {
        font-size: 16px;
    }

    .featured img {
        width: 299px;
        height: 188px;
    }

    .footer {
        width: 100%;
    }
    .footer-title{
        font-size: 16px;
    }
    .copyright{
        font-size: 12px;
    }
    .sub-title{
        font-size: 12px;
    }
}  

@media only screen and (min-width: 577px) and (max-width: 992px) {
    
    
}